.about {
    font-size: 3rem;
    font-weight: lighte;
    text-shadow: 6px 6px 10px #000000;
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 430px) {
    .aboutContainer {
        flex-direction: column;
    }

    .about {
        font-size: 2rem;
        font-weight: lighte;
        text-shadow: 6px 6px 10px #000000;
        font-family: 'Times New Roman', Times, serif;
    }

}